[submodule "all"]
	path = all
	url = git@github.com:aoindustries/semanticcms-section-all.git
[submodule "model"]
	path = model
	url = git@github.com:aoindustries/semanticcms-section-model.git
[submodule "servlet"]
	path = servlet
	url = git@github.com:aoindustries/semanticcms-section-servlet.git
[submodule "style"]
	path = style
	url = git@github.com:aoindustries/semanticcms-section-style.git
[submodule "taglib"]
	path = taglib
	url = git@github.com:aoindustries/semanticcms-section-taglib.git
[submodule "renderer-html"]
	path = renderer-html
	url = git@github.com:aoindustries/semanticcms-section-renderer-html.git
[submodule "bom"]
	path = bom
	url = git@aoindustries.github.com:aoindustries/semanticcms-section-bom.git
