[submodule "bom"]
	path = bom
	url = git@github.com:aoindustries/semanticcms-section-bom.git
	branch = .
[submodule "all"]
	path = all
	url = git@github.com:aoindustries/semanticcms-section-all.git
	branch = .
[submodule "model"]
	path = model
	url = git@github.com:aoindustries/semanticcms-section-model.git
	branch = .
[submodule "servlet"]
	path = servlet
	url = git@github.com:aoindustries/semanticcms-section-servlet.git
	branch = .
[submodule "style"]
	path = style
	url = git@github.com:aoindustries/semanticcms-section-style.git
	branch = .
[submodule "taglib"]
	path = taglib
	url = git@github.com:aoindustries/semanticcms-section-taglib.git
	branch = .
